html,
body {
    height: 100%;
    margin: 0;
}

#video, #canvas, .svgView {
    position: absolute;
    top: 68px;
    left: 3px;
    max-width: 1280px;
    max-height: 720px;
    border-style: solid;
    border-color: rgb(128, 128, 128);
    border-width: thin;
}

.video-player {
    position: relative;
}

#video {
    z-index: 2;
}

#svgBoundingBoxesView {
    z-index: 3
}

rect {
    z-index: 3
}

#canvas {
    z-index: 4;
}

#fpsDiv {
    position: absolute;
    top: 60px;
    left: 25px;
    z-index: 4;
}

#fps {
    color: yellow;
    font-family: "Courier New", serif;
    font-size: x-large;
    font-weight: bold;
    z-index: 4;
}

#controls {
    float: left;
    width: 80px;
    height: 40px;
    position: absolute;
    z-index: 4;
    background: white;
    opacity: 70%;
    margin-left: 8px;
    margin-bottom: 4px;
    top: 735px;
}