#video-container {
    position: relative;
    min-width: 1280px;
    min-height: 720px;
    top: 0px;
    left: 0px;
    z-index: 1;
}

#controls {
    position: absolute;
    bottom: 0px;
    z-index: 4;
    background: white;
    opacity: 80%;
    margin-left: 8px;
    margin-bottom: 4px;

}

#video, #canvas, #svgViewBox {
    position: absolute;
    border-style: solid;
    border-color: gray;
    border-width: medium;
    top: 0px;
    left: 0px;
}

#canvas {
    z-index: 4;
}

#video {
    z-index: 2;
}

#svgViewBox {
    z-index: 3
}
rect {
    z-index: 3
}
