#container {
    position: relative;
    min-width: 1280px;
    min-height: 720px;
    top: 0px;
    left: 0px;
    z-index: 1;
}

#controls {
    position: absolute;
    bottom: 0px;
    z-index: 4;
    background: white;
    opacity: 80%;
    margin: 5px;

}

#video, #canvas{
    position: absolute;
    border-style: solid;
    border-width: medium;
    top: 0px;
    left: 0px;
}

#canvas {
    z-index: 3;
}

#video {
    z-index: 2;
}
